NotShared/
*.zip
*.ncb
*.bsc
*.pch
*.sbr
*.ilk
*.idb
*.obj
*.DS_Store
*.pdb
*.iobj
*.ipdb
.vs
*.tlog
*.log
*.recipe
*.vcxproj.user
**/bin/log.txt
**/bin/*.exe
.vscode/settings.json
RTSimpleApp/AndroidGradle/app/libs/fmod.jar
windows/x64
xcuserdata
*/html5/WebLoaderData
*/html5/temp*
*/html5/*.wasm
*/html5/*.data
*/html5/*.js
*/html5/*.html
LocalOnly
SlideShow
bin
dist
RTSlideShow_Win64.zip
SlideShowButtonClient
media/buttons.afphoto
